.hidden {
    display: none;
}

#nav {
    width: calc(100% - 14px);
    background-color: #BF2227;
    padding: 7px;
    text-align: center;
}

#nav ul {
    padding: 0;
}

#nav ul li {
    display: inline;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
}

#nav a:link {
    text-decoration: none;
    color: #fff;
}

#nav a:hover {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

#nav a:visited {
    color: #fff;
}

.active {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}


#wrapper {
    margin: 0 auto;
    max-width: 1050px;
}

.carousel img {
    width: 100%;
}

#content, #Container {
    text-align: center;
}

#Container .mix{
    display: none;
}

.mix {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #3f3E3E;
    margin-bottom: 5px;
    height: auto;
}

.mix h3, .event-block h3 {
    background-color: #232D77;
    color: #fff;
}

.event-block {
    text-align: center;
    display: inline-block;
    border: 1px solid #3f3E3E;
    margin-bottom: 5px;
}

.event-block p {
    padding: 10px;
}

#sidebar {
    height: auto;
    margin: 20px;
}

#contact_tabs {
    text-align: left;
}

h2, h3 {
    font-family: 'Cantarell', sans-serif;
    color: #0281CF;
    margin: 0;
}

main {
    padding: 20px;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    color: #232D77;
    text-transform: uppercase;
}

p {
    font-family: Arial, sans-serif;
    font-size: 0.9em;
    color: #3f3E3E;
}

.button {
    text-decoration:none;
    text-align:center; 
    padding:11px 32px;
    border:3px solid #232D77;
    font-family: 'Fjalla One', sans-serif;
    font-weight:bold;
    color: #232D77;
    text-transform: uppercase;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}

.button:hover {
    background-color: #232D77;
    color: #fff;
}

.hyper a:link {
    text-decoration: none;
    color: #E8BC1B;
}

.hyper a:hover {
    text-decoration: underline;
}

.hyper a:visited {
    color: #ad9231;
}

#content {
    padding: 10px;
}

.promo {
    padding: 5px;
    border-bottom: 2px solid #0281CF;
}

footer {
    width: calc(100% - 14px);
    background-color: #BF2227;
    padding: 7px;
    text-align: center;
    height: 100px;
}

footer p {
    color: #fff;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 2px;
}

@media (min-width: 300px) {
    #logo {
        padding-top: 10px;
        text-align: center;
    }
    #logo img {
        width: 50%;
    }
    #nav ul li {
        padding: 0px 10px 0px 10px;
    }
    h1, h2 {
        text-align: center;
    }
    .contact-block {
        text-align: center;
    }
    .mix, .event-block {
        width: 90%;
    }
    #contact_tabs {
        text-align: center;
    }
}

@media (min-width: 400px) {
    #nav {
        text-align: center;
    }
    #logo img {
        width: 40%;
    }
}

@media (min-width: 475px) {
    .mix, .event-block {
        width: 49%;
    }
}

@media (min-width: 550px) {
    h1, h2 {
        text-align: left;
    }
    #contact_tabs {
        text-align: left;
    }
    .mix, .event-block {
        width: 30%;
    }
}

@media (min-width: 650px) {
    #logo img {
        width: 40%;
    }
    #nav ul li {
        padding: 0px 20px 0px 20px;
    }
}

@media (min-width: 750px) {
    #logo img {
        width: 27%;
        float: left;
        padding-top: 15px;
    }
    main {
        float: right;
        width: 67%;
    }
    #sidebar {
        width: 26%;
    }
    footer {
        clear: both;
    }
}