.r-tabs .r-tabs-nav {
    position: relative;
    background-color: #232D77;
    margin: 0;
}

.r-tabs .r-tabs-tab {
    display: inline-block;
    margin: 0;
    list-style: none;
    font-family: 'Cantarell', sans-serif;
    padding: 20px;
}

.r-tabs a:link {
    color: #fff;
    text-decoration: none;
}

.r-tabs .r-tabs-panel {
    padding: 15px;
    display: none;
    background-color: white;
    border: 4px solid #232D77;
}

.r-tabs .r-tabs-accordion-title {
    display: none;
}

.r-tabs .r-tabs-panel.r-tabs-state-active {
    display: block;
}

.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {
    background-color: #fff;
    color: #232D77;
    padding: 13px;
    border-bottom: 12px solid #fff;
}

/* Accordion responsive breakpoint */
@media only screen and (max-width: 768px) {
    .r-tabs .r-tabs-nav {
        display: none;
    }

    .r-tabs .r-tabs-accordion-title {
        display: block;
        background-color: #232D77;
        padding: 10px;
    }
}